<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta content="en-us" http-equiv="Content-Language" />
   <title>{{ page.title }}</title>
   <meta name="author" content="franck cuny" />
   <link href="http://feeds.feedburner.com/ImALumberjaph" rel="alternate" title="I'm a lumberjaph" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/static/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen, projection" />

   <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
   <link rel="openid.server" href="http://franckcuny.myopenid.com/" /> 
   <link rel="openid2.provider" href="http://franckcuny.myopenid.com/" /> 
   {% include analytics.html %}
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">I'm a lumberjaph</a>
    <a class="extra" href="/">home</a>
    <a class="extra" href="/archives.html">archives</a>
    <a class="extra" href="/about/">about</a>
    <a class="extra" href="/talks/">talks</a>
    <a class="extra" href="/contact/">contact</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        franck cuny<br />
        franck@lumberjaph.net
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/franckcuny/">github.com/franckcuny</a><br />
        <a href="http://twitter.com/franckcuny/">twitter.com/franckcuny</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://lumberjaph.net/index.atom">
        <img src="/static/imgs/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

</body>
</html>
