<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="franck cuny" />
   <link href="http://feeds.feedburner.com/ImALumberjaph" rel="alternate" title="I'm a lumberjaph" type="application/atom+xml" />

   <!--syntax highlighting CSS-->
   <link rel="stylesheet" href="/static/css/syntax.css" />

   <!--Homepage CSS-->
   <link rel="stylesheet" href="/static/css/screen.css" media="screen, projection" />

   
   <link href="/favicon.ico" rel="shortcut icon" />
   <link rel="openid2.provider" href="http://www.google.com/accounts/o8/ud?source=profiles" />
   <link rel="openid2.local_id" href="http://www.google.com/profiles/franck.cuny" /> 
   {% include analytics.html %}
</head>
<body>

<div class="site">
  <nav>
    <div class="title">
      <a href="/">I'm a lumberjaph</a>
      <a class="extra" href="/">home</a>
      <a class="extra" rel="archives" href="/archives.html">archives</a>
      <a class="extra" rel="author" href="/about/">about</a>
      <a class="extra" href="/talks/">talks</a>
      <a class="extra" href="/contact/">contact</a>
    </div>
  </nav>

  {{ content }}

  <footer>
  <div class="footer">
    <div class="contact">
      <p>
        franck cuny<br />
        franck@lumberjaph.net
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/franckcuny/">github.com/franckcuny</a><br />
        <a href="http://twitter.com/franckcuny/">twitter.com/franckcuny</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/ImALumberjaph">
        <img src="/static/imgs/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
  </footer>
</div>

</body>
</html>
